.project-container {
    display: grid;
    grid-template-columns: 30% 30%;
    justify-content: center;
    gap: 20% 1%;
}

#project {
    min-height: 40%;
}

#projects {
    text-align: center;
}

.project-heading {
    margin-top: 2%;
    margin-bottom: 1%;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: #ef6c01;
}