html {
    scroll-behavior: smooth;
}

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden; 
    z-index: 2;
}

#experience, #skills {
    background-color: #f2f2f2;
    padding-top: 50px;
    padding-bottom: 50px;
}
  

#about, #projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

.btn {
    outline-color: black;
}

.experiences, .projects {
    padding-top: 30px;
    display: flex;
}

.date {
    padding-bottom: 0.7rem;
}